<section class="bg-white shadow-sm  rounded-3">

    <div class="d-flex justify-content-between  footer">
        <div class="d-flex justify-content-center">
            <div>
                <img src=".\images\profile-square.jpg" class=" me-2
                 rounded-circle" alt="">
            </div>
            <div class=" px-2 d-flex flex-column justify-content-center">
                <p class="Head-Line mt-2">تم الأإنشاء بواسطة</p>
                <p class="Sup-Line ">{{name}}</p>
            </div>
        </div>



    <div class=" px-2 d-flex flex-column justify-content-center">
        <p class="Head-Line mt-2">تاريخ الإنشاء</p>
        <div class="d-flex align-items-center">
            <p class="Sup-Line ">{{date}}</p>
            <div class="circle   mx-1"></div>
            <p class="Sup-Line ">04:30 م</p>
        </div>
    </div>
    </div>
    
</section>
