<section class="bg-white shadow-sm px-2 rounded-3">
    <div class="header d-flex justify-content-between align-items-center bg-white  p-2 ">
        <div class="d-flex align-items-baseline">
            <p class="number px-2">{{mainNumber}}</p>
            <button class="using  mx-2 " #using>قيد الأستخدام</button>
        </div>
        <div class="ellipsis">
            <div class="dropdown">
                
                    <i data-bs-toggle="dropdown" aria-expanded="false" class="fs-4 fa-solid mx-4 fa-ellipsis"></i>
                

                <ul  class="dropdown-menu ">
                    <li ><button (click)="toggle()" class="dropdown-item ps-5" ><i class="fa-solid fa-pen"></i> تعديل الرقم </button></li>
                    <li><button  (click)="notUsable()" class="dropdown-item text-danger ps-5" > <i class="fa-solid fa-link-slash"></i>إلغاء التعيين </button></li>
                </ul>
            </div>
            
        </div>
    </div>

@if(isHidden){
<div #mainModel (click)="hideModel($event)"
    class="change-number bg-opacity-50 position-fixed d-flex justify-content-center align-items-center bg-dark vh-100 shadow-sm py-2">
    <div class="w-50 h-50 bg-white position-relative rounded-3 p-4" (click)="$event.stopPropagation()">
        <button (click)="toggle()" class="position-absolute m-2 top-0 start-0 btn btn-outline-dark">
            <i class="fa-solid fa-x"></i>
        </button>
        <p class="text-center fs-4">{{ mainNumber }}</p>
        <div class="form-floating mt-5">
            <input dir="ltr" type="number" class="form-control" id="floatingInput" placeholder="تغيير الرقم"
                #numberchange>
            <label for="floatingInput">تغيير الرقم</label>
        </div>
        <div class="d-flex justify-content-center">
            <button (click)="changeNumber()" class="btn btn-primary w-25 mt-5">تأكيد</button>
        </div>
    </div>
</div>


}











    <div class="container ">
        <div class="row ">
            <div class="col-sm-6 col-lg-3">
            <div class="border-start text-center py-2  ">
                <p class="Head-Line">اسم البروتوكول</p>
                <p class="Sup-Line">فودافون مصر</p>
            </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="border-start text-center py-2  ">
                    <p class="Head-Line">الدولة</p>
                    <div class="d-flex justify-content-center ">
                            <img class="flag img-fluid rounded-circle" src=".\images\Sudia Flag.jpg" alt="">
                            <p class="Sup-Line me-2">المملكة العربية السعودية</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class=" border-start text-center py-2  ">
                    <p class="Head-Line">العميل الحالي</p>
                    <div class="d-flex justify-content-center ">
                        <img class="flag img-fluid rounded-circle" src=".\images\insects.jpeg" alt="">
                        <p class="Sup-Line me-2">الشركة الألمانية للإبادة...</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="custom-border text-center py-2  ">
                    <p class="Head-Line">عدد الإمتدادات</p>
                    <p class="Sup-Line">09</p>
                </div>
            </div>
            
            
        </div>


        <div class="row pt-2">
            <div class="col-sm-6 col-lg-3">
                <div class="border-start text-center py-2  ">
                    <p class="Head-Line">تاريخ آخر شحنة</p>
                    <p class="Sup-Line">2024/12/29</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="border-start text-center py-2  ">
                    <p class="Head-Line">الرصيد الحالي</p>
                    <p class="Sup-Line">5000 ج.م</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="border-start text-center py-2  ">
                    <p class="Head-Line">الرصيد المستخدم للعميل الحالي</p>
                    <p class="Sup-Line">5000 ج.م</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="custom-border text-center py-2  ">
                    <p class="Head-Line">الرصيد المستخدم للرقم ككل</p>
                    <p class="Sup-Line">5000 ج.م</p>
                </div>
            </div>
        
            
        
        </div>
    </div>


</section>