<nav aria-label="Page navigation" dir="ltr">
    <ul class="pagination m-0">
    <li class="page-item " [class]="{'disabled': currentPage === 1}" >
        <a class="page-link" (click)="changePage(currentPage-1)" aria-label="previous">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
    </li>
    @for (item of pages; track $index) {
        <li class="page-item" [class]="{
            active: pages[$index] === currentPage}"><a (click)="changePage(pages[$index])" class="page-link rounded-3">{{ $index+1}}</a></li>
}
        <li class="page-item " [class]="{'disabled': currentPage === pages.length}">
            <a class="page-link" (click)="changePage(currentPage+1)" aria-label="Next">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</nav>